html {
    scroll-behavior: smooth;
}

/* ================= HEADER ================= */
header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}

body {
    margin-top: 8vh;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #404CCD;
    font-size: 12px;
    align-items: center;
    padding-left: 30px;
    font-family: sans-serif;
}

.logo img {
    height: 5vh;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
    font-family: sans-serif;
}

.navbar h3 {
    transition: transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.navbar h3:hover {
    transform: scale(1.2);
    color: #404CCD;
}

.header-efeito {
    position: relative;
    padding: 20px;
    background: #fff;
}

.header-efeito .barra {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 0;
    animation: fadein 1.2s ease forwards;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}



/* ========================================== */





/* ================= MAIN ================= */

/* ============== HOME ============== */
body {
    background-color: #F4F2FC;
    height: 100%;
    margin: 0;
}

.image-container {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100vw;
}

.texto-sobreposto {
    position: absolute;
    top: 23%;
    left: 7%;
    color: #fff;
    text-shadow: 6px 2px 4px #404CCD;
    font-size: 18px;
}

.texto-sobreposto h1 {
    position: absolute;
    left: 10%;
    top: 140%;
    font-size: 40px;
}

.texto-sobreposto h5 {
    position: absolute;
    top: 400%;
    left: 20%;
    background-color: #404CCD;
    width: 15vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.botao {
    animation: blink 2.7s linear infinite;
    transition: transform 1s ease;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.2);
}

/* ================================ */

/* ========== INTRODUÇÃO ========== */
.introducao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin-left: 100px;
    height: 50vh;
}

.texto {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 50px;
    font-size: 30px;
    font-family: sans-serif;
    align-items: center;
    color: #404CCD;
}

.texto h4 {
    width: 37vw;
    color: #6B6969;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.3;
}

.barra2 {
    position: absolute;
    top: 970px;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 1;
    margin-top: 200px;
}

/* ================================ */

/* =========== RECURSOS =========== */
.recursos {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    margin-top: 300px;
    justify-content: center;
}

.recursos div {
    display: flex;
    width: 18vw;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}

.recursos div:hover {
    transform: scale(1.2);
}

.recursos2 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    margin-top: 100px;
    justify-content: center;
}

.recursos2 div {
    display: flex;
    width: 18vw;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}

.recursos2 div:hover {
    transform: scale(1.2);
}


.botaovideo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404CCD;
    width: 18vw;
    height: 5vh;
    margin-left: 770px;
    margin-top: 90px;
    border-radius: 50px;
    font-family: sans-serif;
    color: #fff;
    transition: transform 0.5s ease;
}

.botaovideo:hover {
    transform: scale(1.2);
}


.barra3 {
    position: absolute;
    top: 970px;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 1;
    margin-top: 1400px;
}

/* ================================ */

/* ========== INFORMAÇÃO ========== */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin-top: 300px;
}

.info h2 {
    margin-top: 50px;
    width: 70vw;
    color: #767373;
    text-align: center;
    line-height: 1.5;
}

/* ================================ */
/* Fazendo um teste qualquer */
/* ============ VIDEOS ============ */
.video-apresentacao {
    position: relative;
    display: inline-block;
    margin-top: 120px;
}

.fundo {
    display: block;
    max-width: 100%;
    width: 100vw;
    height: auto;
}

.youtube {
    position: absolute;
    top: 15%;
    left: 46%;
}

.titulo {
    position: absolute;
    top: 45%;
    left: 34%;
    font-family: sans-serif;
    color:#fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.titulo h2 {
    text-decoration: underline;
}

/* ================================ */

/* ======== DEMONSTRAÇÔES ========= */
.demonstracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 90px;
}

.demonstracao h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.demonstracao h2 {
    color: #767373;
}




.selecao1 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    margin-top: 200px;
    justify-content: center;
}

.selecao1 div {
    display: flex;
    width: 18vw;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}

.selecao1 div:hover {
    transform: scale(1.2);
}

.selecao2 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    margin-top: 100px;
    justify-content: center;
}

.selecao2 div {
    display: flex;
    width: 18vw;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}

.selecao2 div:hover {
    transform: scale(1.2);
}

.barra4 {
    position: absolute;
    top: 3300px;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 1;
    margin-top: 1300px;
}

/* ================================ */

/* =========== CONTATO ============ */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    font-family: sans-serif;
}

.contato h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.contato h3 {
    width: 25vw;
    text-align: center;
    line-height: 1.5;
    color: #767373;
}

.number {
    display: flex;
    background-color: #404CCD;
    width: 15vw;
    height: 6vh;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 810px;
    margin-top: 70px;
    margin-bottom: 150px;
    font-family: sans-serif;
    color: #fff;
    border-radius: 50px;
    transition: transform 1s ease;
}

.number:hover {
    transform: scale(1.2);
}

/* ================================ */



/* ========================================== */





/* ================= FOOTER ================= */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color:#404CCD;
    color: #fff;
    height: 10vh;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

footer img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* ========================================== */


/* FIM */